<component name="ArtifactManager">
  <artifact type="war" name="springSqlSelect:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springSqlSelect.war">
      <element id="artifact" artifact-name="springSqlSelect:war exploded" />
    </root>
  </artifact>
</component>