<component name="ArtifactManager">
  <artifact type="exploded-war" name="springSqlSelect:war exploded">
    <output-path>$PROJECT_DIR$/target/springSqlSelect</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springSqlSelect" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: log4j:log4j:1.2.17" />
          <element id="library" level="project" name="Maven: org.mybatis:mybatis:3.3.0" />
          <element id="library" level="project" name="Maven: cglib:cglib:2.2.2" />
          <element id="library" level="project" name="Maven: asm:asm:3.3.1" />
          <element id="library" level="project" name="Maven: org.javassist:javassist:3.17.1-GA" />
          <element id="library" level="project" name="Maven: org.glassfish.web:javax.servlet.jsp.jstl:1.2.4" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:jstl-api:1.2" />
          <element id="library" level="project" name="Maven: javax.servlet:servlet-api:2.5" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp:jsp-api:2.1" />
          <element id="library" level="project" name="Maven: javax.servlet.jsp.jstl:javax.servlet.jsp.jstl-api:1.2.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:3.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.2.2.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.22" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/target/springSqlSelect/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springSqlSelect/web/Web" />
    </root>
  </artifact>
</component>